<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>Home page</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/starter-template/">

    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="starter-template.css" rel="stylesheet">
</head>

<body>
    {% include 'userview/base.html' %}

    <main role="main" class="container bg-gold">
        {% block content %}
        <div class="jumbotron bg-gold" style="text-align: center;">
            <div class="starter-template">
                <p></p>
                <h1 class="display-5">Movies</h1>
                {% if movies %}
                <style>
                  a {
                    color: #CBB26A;
                  }
                </style>
                <ul class="list-group">
                    {% for movie in movies %}
                    <li class="list-group-item"><a href="/movie/{{ movie.id }}">{{ movie.title }}</a></li>
                    {% endfor %}
                </ul>
                {% else %}
                <p class="center">No movies are available.</p>
                {% endif %}

                <style>
                    .page-link {
                        background-color: #CBB26A;
                        color: white;
                    }

                    .page-item.active .page-link {
                        background-color: white;
                        color: #CBB26A;
                    }
                </style>

                 {% if pagination %}
                    <nav aria-label="Page navigation">
                        <ul class="pagination justify-content-center">
                            {% if pagination.has_previous %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ pagination.previous_page_number }}" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                            {% endif %}

                            {% for num in pagination.paginator.page_range %}
                                {% if num == pagination.number %}
                                    <li class="page-item active">
                                        <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                                    </li>
                                {% else %}
                                    {% if num == pagination.number|add:-1 or num == pagination.number|add:1 or num == pagination.number|add:-2 or num == pagination.number|add:2 %}
                                        <li class="page-item">
                                            <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                                        </li>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}

                            {% if pagination.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ pagination.next_page_number }}" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </nav>
                {% endif %}
            </div>
        </div>
        {% endblock %}
    </main>
</body>
</html>
