{% extends 'userview/base.html' %}

{% block content %}
<div class="container mt-5">
    <h1>Movie Search</h1>
    <form method="get" action="{% url 'search_movies' %}">
        <div class="form-row">
            <div class="col-md-4 mb-3">
                <label for="genre">Genre:</label>
                <input type="text" class="form-control" id="genre" name="genre" value="{{ genre }}">
            </div>
            <div class="col-md-4 mb-3">
                <label for="title">Movie Title:</label>
                <input type="text" class="form-control" id="title" name="title" value="{{ title }}">
            </div>
            <div class="col-md-4 mb-3">
                <label for="min_rating">Minimum Rating:</label>
                <input type="number" class="form-control" id="min_rating" name="min_rating" min="0" max="5" step="0.1" value="{{ min_rating }}">
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>

<div class="container mt-5">
    {% if movies %}
        <h2>Search Results</h2>
        <ul class="list-group">
            {% for movie in movies %}
                <li class="list-group-item">
                    <a href="{% url 'index' movie.movieid %}">{{ movie.title }}</a>
                </li>
            {% endfor %}
        </ul>
        {% if movies.has_other_pages %}
            <nav aria-label="Search Results Pagination">
                <ul class="pagination justify-content-center">
                    {% if movies.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ movies.previous_page_number }}">Previous</a>
                        </li>
                    {% endif %}
                    {% for num in movies.paginator.page_range %}
                        {% if movies.number == num %}
                            <li class="page-item active">
                                <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                            </li>
                        {% elif num > movies.number|add:'-3' and num < movies.number|add:'3' %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                    {% if movies.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ movies.next_page_number }}">Next</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        {% endif %}
    {% else %}
        {% if genre or title or min_rating %}
            <p>No movies found with the given criteria.</p>
        {% endif %}
    {% endif %}
</div>
{% endblock %}
